<div class="row">
  <div class="six columns offset-by-three">
    <label for="email">Your email</label>
    <input
      required
      [(ngModel)]="email"
      class="u-full-width"
      type="email"
      placeholder="mr.robot@fsociety.net"
      id="email">
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <label for="password">Your password</label>
    <input
      required
      (keyup.enter)="signIn()"
      [(ngModel)]="password"
      class="u-full-width"
      type="password"
      placeholder="******"
      id="password">
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <button (click)="signIn()" class="button-primary">Sign in</button>
  </div>
</div>
<hr>
<external-auth-providers></external-auth-providers>
