<div class="row">
  <div class="six columns offset-by-three">
    <label for="name">Your name</label>
    <input
      required
      [(ngModel)]="name"
      class="u-full-width"
      type="text"
      placeholder="Elliot Anderson"
      id="name">
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <label for="email">Your email</label>
    <input
      required
      [(ngModel)]="email"
      class="u-full-width"
      type="email"
      placeholder="mr.robot@fsociety.net"
      id="email">
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <label for="password">Your password</label>
    <input
      required
      [(ngModel)]="password"
      (keyup.enter)="signUp()"
      class="u-full-width"
      type="password"
      placeholder="******"
      id="password">
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <button (click)="signUp()" class="button-primary">Create account</button>
  </div>
</div>
