<div class="row">

  <ng-container *ngIf="!user">
    <div class="offset-by-three six columns">
      <a routerLink="/signin" routerLinkActive="active">Sign in</a>
      <a routerLink="/signup" routerLinkActive="active">Sign up</a>
    </div>
  </ng-container>

  <ng-container *ngIf=user>
    <div class="eight columns">
      <h5>Welcome {{user.name}}!</h5>
    </div>
    <div class="four columns">
      <button (click)="signOut($event)" class="u-pull-right" href="">Sign out</button>
    </div>
  </ng-container>

</div>
