
<div class="row" [ngSwitch]="state()">

  <ng-container *ngSwitchDefault>
    <div class="eight columns">
      <h3 (click)="edit()">{{ todo.name }}</h3>
    </div>
    <div class="four columns">
      <button (click)="complete()">complete</button>
      <button (click)="delete()">delete</button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'completed'">
    <div class="eight columns">
      <h3 class="completed">{{ todo.name }}</h3>
    </div>
    <div class="four columns">
      <button (click)="delete()">delete</button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'editing'">
    <div class="eight columns">
      <input [(ngModel)]="todo.name" class="u-full-width" type="text" placeholder="What do you have to do?">
    </div>
    <div class="four columns">
      <button (click)="finishEdit()">finish</button>
    </div>
  </ng-container>

</div>
