
<div class="row" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [ngSwitch]="state()">

  <ng-container *ngSwitchDefault>
    <div class="eight columns">
      <h3 (click)="edit()">{{ todo.title }}</h3>
    </div>
    <div class="four columns">
      <button [hidden]="!hovered" (click)="complete()">complete</button>
      <button [hidden]="!hovered" (click)="delete()">delete</button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'completed'">
    <div class="eight columns">
      <h3 class="completed">{{ todo.title }}</h3>
    </div>
    <div class="four columns">
      <button [hidden]="!hovered" (click)="delete()">delete</button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'editing'">
    <div class="eight columns">
      <input #titleField
        (keyup.escape)="cancelEdit()"
        (keyup.enter)="finishEdit(titleField.value)"
        [value]="todo.title"
        class="u-full-width"
        type="text"
        placeholder="What do you have to do?">
    </div>
    <div class="four columns">
      <button (click)="finishEdit(titleField.value)">finish</button>
      <button (click)="cancelEdit()">cancel</button>
    </div>
  </ng-container>

</div>
